footer{
    width:100%; 
    height:6%;
    position:fixed; 
    bottom:0;
}
.middle-section{
    padding:2%;
    margin:2%;
}
.header{
    width:100%;
    border-bottom:1px solid black;
    letter-spacing:5px;
    background-image: linear-gradient(to right, red , orange, yellow, green, blue, purple);
}
.img-fluid{
    padding:1%;
    margin:1%;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }